@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#eef3ff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

/* Main Box */

.container{
    width:1000px;
    max-width:95%;
    background:#fff;
    display:flex;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 20px 40px rgba(0,0,0,.15);
}

/* Left Side */

.left{
    width:45%;
    background:linear-gradient(135deg,#2563eb,#4f46e5);
    color:#fff;
    padding:70px 50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.left h1{
    font-size:50px;
    margin-bottom:25px;
}

.left h2{
    font-size:34px;
    margin-bottom:20px;
}

.left p{
    font-size:18px;
    line-height:1.8;
}

/* Right Side */

.right{
    width:55%;
    padding:70px 60px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.right h2{
    text-align:center;
    margin-bottom:35px;
    font-size:40px;
}

/* Form */

form{
    display:flex;
    flex-direction:column;
}

input{
    width:100%;
    padding:16px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:17px;
    outline:none;
}

input:focus{
    border-color:#2563eb;
    box-shadow:0 0 8px rgba(37,99,235,.3);
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
}

.register{
    margin-top:20px;
    text-align:center;
    font-size:16px;
}

.register a{
    color:#2563eb;
    text-decoration:none;
    font-weight:600;
}

.register a:hover{
    text-decoration:underline;
}

/* Mobile */

@media(max-width:768px){

.container{
    flex-direction:column;
}

.left,
.right{
    width:100%;
}

.left{
    padding:40px 30px;
    text-align:center;
}

.right{
    padding:40px 30px;
}

.left h1{
    font-size:40px;
}

.right h2{
    font-size:32px;
}

}
form{
    display:flex;
    flex-direction:column;
}